
@media (max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }
    .container {
        max-width: 970px;
    }

    body .top-block__title {
        font-size: 30px;
    }

    body .subtitle {
        font-size: 20px;
    }

    body .preview .container .tabcontainer .tabheader {
        padding: 30px 25px;
    }

    body .preview .container .tabcontainer .tabheader h3 {
        font-size: 16px;
    }

    body .preview .container .tabcontainer .tabheader__items {
        margin-top: 30px;
    }

    body .preview .container .tabcontainer .tabheader__items .tabheader__item {
        font-size: 16px;
    }

    .finally-arrived-bottom-block {
        padding: 0px 10px 0 10px ;
    }

    .image-row {
        padding: 0px 10px 0 10px ;
    }
    .tabheader {
        max-width: 250px;
    }
    
    .tabcontainer__descr {
        display: none;
    }

    .image-row__descr_left {
        display: none;
    }

    .image-row__descr_right {
        display: none;
    }

    .slider__slide {
        max-width: 400px;
    }
    // .slider__slide img {
    //     width: 100%;
    // }

}

@media (max-width: 992px) {		
	.wrapper {	
	max-width: 750px;	
    }
    .container {
        max-width: 750px;
    }

    body .top-block__title {
        font-size: 28px;
        padding: 25px 0px 0px 0px;
    }

    body .subtitle {
        font-size: 18px;
        padding-top: 15px;
    }

    body .preview .container .tabcontainer .tabheader {
        padding: 25px 20px;
    }

    body .preview .container .tabcontainer .tabheader h3 {
        font-size: 14px;
    }

    body .preview .container .tabcontainer .tabheader__items {
        margin-top: 25px;
    }

    body .preview .container .tabcontainer .tabheader__items .tabheader__item {
        font-size: 16px;
    }

    .image-row__descr_left {
        display: none;
    }

    .on-our-way-row__text-block {
        margin-top: 15px;
    }

    .slider__slide {
        max-width: 300px;
    }
}		

@media (max-width: 767px) {	
	.wrapper {
	max-width: 720px;
    margin: 0 auto;
	}
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    body .top-block__title {
        font-size: 24px;
        padding: 25px 0px 0px 0px;
    }

    body .subtitle {
        font-size: 16px;
        padding-top: 15px;
    }

    body .text {
        font-size: 14px;
    }


    body .preview .container .tabcontainer .tabheader {
        padding: 20px 15px;
    }

    body .preview .container .tabcontainer .tabheader h3 {
        font-size: 12px;
    }

    body .preview .container .tabcontainer .tabheader__items {
        margin-top: 20px;
    }

    body .preview .container .tabcontainer .tabheader__items .tabheader__item {
        font-size: 12px;
    }

    .slider__slide {
        max-width: 200px;
    }

    .footer h3 {
        font-size: 14px;
    }

    .footer .follow p {
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    body .top-block__title {
        font-size: 20px;
        padding: 15px 0px 0px 0px;
    }

    body .subtitle {
        font-size: 16px;
        padding-top: 10px;
    }

    body .text {
        font-size: 12px;
    }

    body .preview .container .tabcontainer .tabheader {
        padding: 15px 10px;
    }

    body .preview .container .tabcontainer .tabheader {
        padding: 35px 30px;
    }

    body .preview .container .tabcontainer .tabheader h3 {
        font-size: 10px;
    }

    body .preview .container .tabcontainer .tabheader__items {
        margin-top: 15px;
    }

    body .preview .container .tabcontainer .tabheader__items .tabheader__item {
        font-size: 10px;
    }

    body .on-our-way-row {
        flex-direction: column;
    }

    body .on-our-way-row .slider {
        margin: 20px 15px;
        align-items: center;
    }

    body .on-our-way-row .slider__counter {
        font-size: 16px;
        width: fit-content;
    }

    body .on-our-way-row .slider__counter-prev {
        font-size: 24px;
    }

    body .on-our-way-row .slider #current {
        font-size: 30px;
    }

    body .on-our-way-row .slider__counter-next {
        font-size: 24px;
    }

    .footer h3 {
        font-size: 12px;
    }

    .footer .follow p {
        font-size: 12px;
    }
}