@import './zero_styles.scss';

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

//header styles
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 1px solid rgba(63, 61, 61, 0.2);

    

    &__left-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 550px;
        padding: 30px 50px;
        
    }

    &__logo {
        padding: 0 15px;
    }


    &__link {
        padding: 0 25px;
        display: inline-block;
        font-size: 24px;
        line-height: 35px;
        border-radius: 24px;
        background-color: #e3b842;
        color: #fff;
        
        &:hover {
            background-color: #a37803;
        }        
    }

    &__right-block {
        display: flex;
        padding: 30px 50px;
        .btn {
            padding: 0 25px;
            font-size: 24px;
            line-height: 35px;
            border-radius: 24px;
            background-color: #e3b842;
            color: #fff;
            -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: #a37803;
            }

            &:active {
                position: relative;
                top: 3px;
                -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
            }
        }

    }
    

}
// end of header styles

// top-block styles
.top-block {
    &__title {
        font-size: 36px;
        text-align: center;
        padding: 30px 0px 0px 0px;
        position: relative;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     display: block;
        //     width: 20%;
        //     left: -5%;
        //     bottom: -1px;
        //     height: 8px;
        //     background-color:#a37803;
        //     z-index: -1;

        // }
    }    
}
.subtitle {
    font-size: 24px;
    padding: 30px 20px 0px 20px; 
}
.text {
    font-size: 16px;
    padding: 20px 20px 0px 20px;
    text-align: justify;
    line-height: 1.6; 
    & p{
        margin: 00px 00px 10px 0px;
    }
    & p:last-child {
        margin: 0px;
    }
}

//end top-block styles

//start of tabs styles
.preview {
    padding: 30px 0px;
    position: relative;

    .container {
        max-width: 1200px;
        margin:0 auto;

        .tabcontainer {
            display: flex;
            width: 1130px;
            margin: 0 auto;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);

            &__content {
                width: 800px;
                // height: 600px;
                position: relative;
            }

            &__content img {
                max-width: 100%;
                object-fit: cover;
            }

            &__descr {
                position: absolute;
                text-align: justify;
                top: 350px;
                right: -180px;
                width: 400px;
                height: 200px;
                background: #e3b842;
                opacity: 0.8;
                padding: 50px;
                font-size: 24px;
                font-weight: 300;
                line-height: 36px;
                color: rgba(0, 0, 0, 0.7);
            }

            .tabheader {
                padding: 35px 30px;
                width: 350px;
                h3 {
                    font-weight: 700;
                    font-size: 18px;
                }

                &__items {
                    margin-top: 35px;
                    padding-left: 25px;
                    border-left: 1px solid #000;
                    .tabheader__item {
                        font-size: 18px;
                        font-weight: 300;
                        margin-top: 10px;
                        color: rgba(0, 0, 0, 0.6);
                        cursor: pointer;
                        transition: 0.3s all;                        
                    }
                }
            }
        }
    }
}
//end of tabs styles

//start of Before the journey section
.image-row {
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    &__image {
        padding: 20px;
    }
    &__descr_left {
        position: absolute;
        text-align: justify;
        align-items:center;
        top: 350px;
        left: 150px;
        width: 300px;
        height: 100px;
        background: #e3b842;
        opacity: 0.9;
        padding: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
        color: rgba(0, 0, 0, 0.9);
    }

    &__descr_right {
        position: absolute;
        text-align: justify;
        align-items:center;
        top: 350px;
        right: 150px;
        width: 300px;
        height: 100px;
        background: #e3b842;
        opacity: 0.9;
        padding: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
        color: rgba(0, 0, 0, 0.9);
    }
}
//end of Before the journey section

//Start of On our way section
.on-our-way-row {
    display: flex;
    justify-content:space-between;

    &__text-block {
        width: 900px;
        margin-top: 30px;
    }

    .slider {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin: 100px 50px 0px 0px;

        &__counter {
            display: flex;
            width: 180px;
            align-items: center;
            font-size: 24px;
            color:rgba(0, 0, 0, 0.5);
        }

        &__counter-prev {
            cursor: pointer;
            font-weight: 700;
            font-size: 36px;
            margin-right: 20px;
            color:#000;
        }

        #current {
            font-size: 48px;
            font-weight: 700;
            color:#000;
        }

        &__counter-next {
            cursor: pointer;
            font-weight: 700;
            font-size: 36px;
            margin-left: 20px;
            color:#000;
        }

        &__slides {
            position: relative;

            
        }

        &__wrapper {
            overflow: hidden;
            width: 100%;
            margin-top: 15px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35); 
        }

        &__inner {
            width: 400%;
            display: flex;
            transition: all 0.5s ease 0s;
            transform: translateX(0px);
        }

        &__slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//End of On our way section

//Start of Finally arrived section
.finally-arrived-top-block {
    padding: 20px 0px;
}

.finally-arrived-bottom-block {
    padding: 0px 0px 20px 0px;
    max-width: 1200px;
    margin: 0 auto;
}

.finally-arrived-row {
    display: inline-flex;
    

    &__content {
        padding: 10px;
    }
    &__content img {
        width: 100%;
    }
}
//End of finally arrived

//footer
.footer {
    margin: 10px 0px 10px 0px;
    border-top: 1px solid rgba(63, 61, 61, 0.2);
    & h3 {
        padding: 10px;
        font-size: 16px;
    }

    .follow {
        display: flex;
        padding: 0px 0px 20px 0px;
    }

    .follow p {
        padding: 10px;
        font-size: 16px;
    
        }

    .follow a {
        background-color:#e3b842;
        border-radius: 50%;
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.5);
    }

    .follow a:hover {
        background-color: #a37803;
    }

    .follow a:active {
        position: relative;
        top: 3px;
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    }

    .follow img {
        width: 40px;
    }
}

    


