@charset "UTF-8";
/* обнуление отступов */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* изменение подсчета ширины блока */
*, *:before, *:after {
  box-sizing: border-box;
}

/* обнуление обводки */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* делаем тэги блочными */
nav, footer, header, aside {
  display: block;
}

/* уравниваем поведение шрифтов и элементов для разных браузеров */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* включаем наследование шрифта для элементов ввода */
input, button, textarea {
  font-family: inherit;
}

/* убираем лишние отступы, символы итд в некторых браузерах */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* обнуляем заголовки */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(150, 80, 15);
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  padding: 0 15px;
  z-index: 5;
}
.header .menu__link {
  padding: 0 15px;
  display: inline-block;
  font-size: 18px;
  line-height: 35px;
  border-radius: 24px;
  color: #fff;
}
.header .menu__link:hover {
  text-decoration: underline;
}
.header .menu__link .menu__list li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.top-block {
  margin-top: 80px;
}
.top-block__title {
  font-size: 36px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  position: relative;
}

.subtitle {
  font-size: 24px;
  padding: 30px 20px 0px 20px;
}

.text {
  font-size: 16px;
  padding: 20px 20px 0px 20px;
  text-align: justify;
  line-height: 1.6;
  width: 100%;
}
.text p {
  margin: 0px 0px 10px 0px;
}
.text p:last-child {
  margin: 0px;
}

.preview {
  padding: 30px 0px;
  position: relative;
}
.preview .container {
  max-width: 1200px;
  margin: 0 auto;
}
.preview .container .tabcontainer {
  display: flex;
  max-width: 1130px;
  margin: 0 auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
}
.preview .container .tabcontainer__content {
  width: 800px;
  position: relative;
}
.preview .container .tabcontainer__content img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview .container .tabcontainer__descr {
  position: absolute;
  text-align: justify;
  top: 350px;
  right: -180px;
  width: 400px;
  height: 200px;
  background: #e3b842;
  opacity: 0.8;
  padding: 50px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.7);
}
.preview .container .tabcontainer .tabheader {
  padding: 35px 30px;
}
.preview .container .tabcontainer .tabheader h3 {
  font-weight: 700;
  font-size: 18px;
}
.preview .container .tabcontainer .tabheader__items {
  margin-top: 35px;
  padding-left: 25px;
  border-left: 1px solid #000;
}
.preview .container .tabcontainer .tabheader__items .tabheader__item {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s all;
}
.preview .container .tabcontainer .tabheader .tabheader__item_active {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image-row__image {
  padding: 20px;
  max-width: 540px;
}
.image-row__image img {
  max-width: 100%;
}
.image-row__descr_left {
  position: absolute;
  text-align: justify;
  align-items: center;
  top: 350px;
  left: 150px;
  max-width: 300px;
  max-height: 100px;
  background: #e3b842;
  opacity: 0.9;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.9);
}
.image-row__descr_right {
  position: absolute;
  text-align: justify;
  align-items: center;
  top: 350px;
  right: 150px;
  max-width: 300px;
  max-height: 100px;
  background: #e3b842;
  opacity: 0.9;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.9);
}

.on-our-way-row {
  display: flex;
  justify-content: space-between;
}
.on-our-way-row__text-block {
  margin-top: 30px;
}
.on-our-way-row .slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 100px 50px 0px 0px;
}
.on-our-way-row .slider__counter {
  display: flex;
  width: 180px;
  align-items: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.on-our-way-row .slider__counter-prev {
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
  margin-right: 20px;
  color: #000;
}
.on-our-way-row .slider #current {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.on-our-way-row .slider__counter-next {
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
  margin-left: 20px;
  color: #000;
}
.on-our-way-row .slider__slides {
  position: relative;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.35);
}
.on-our-way-row .slider__wrapper {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
}
.on-our-way-row .slider__inner {
  display: flex;
  transition: all 0.5s ease 0s;
  transform: translateX(0px);
}
.on-our-way-row .slider__slide {
  width: 400px;
}
.on-our-way-row .slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.finally-arrived-top-block {
  padding: 20px 0px;
}

.finally-arrived-bottom-block {
  padding: 0px 0px 20px 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.finally-arrived-row {
  display: inline-flex;
}
.finally-arrived-row__content {
  padding: 10px;
}
.finally-arrived-row__content img {
  max-width: 100%;
}

.footer {
  margin: 10px 0px 10px 0px;
  border-top: 1px solid rgba(63, 61, 61, 0.2);
}
.footer h3 {
  padding: 10px;
  font-size: 16px;
}
.footer .follow {
  display: flex;
  padding: 0px 0px 20px 0px;
}
.footer .follow p {
  padding: 10px;
  font-size: 16px;
}
.footer .follow a {
  background-color: #e3b842;
  border-radius: 50%;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.5);
}
.footer .follow a:hover {
  background-color: #a37803;
}
.footer .follow a:active {
  position: relative;
  top: 3px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.footer .follow img {
  width: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  text-align: center;
  font-size: 22px;
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}
.modal .btn {
  display: block;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(150, 80, 15);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    max-width: 970px;
  }
  .container {
    max-width: 970px;
  }
  body .top-block__title {
    font-size: 30px;
  }
  body .subtitle {
    font-size: 20px;
  }
  body .preview .container .tabcontainer .tabheader {
    padding: 30px 25px;
  }
  body .preview .container .tabcontainer .tabheader h3 {
    font-size: 16px;
  }
  body .preview .container .tabcontainer .tabheader__items {
    margin-top: 30px;
  }
  body .preview .container .tabcontainer .tabheader__items .tabheader__item {
    font-size: 16px;
  }
  .finally-arrived-bottom-block {
    padding: 0px 10px 0 10px;
  }
  .image-row {
    padding: 0px 10px 0 10px;
  }
  .tabheader {
    max-width: 250px;
  }
  .image-row__descr_left {
    display: none;
  }
  .image-row__descr_right {
    display: none;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
  .container {
    max-width: 750px;
  }
  .header .menu__link {
    font-size: 16px;
  }
  body .top-block__title {
    font-size: 28px;
    padding: 25px 0px 0px 0px;
  }
  body .subtitle {
    font-size: 18px;
    padding-top: 15px;
  }
  body .preview .container .tabcontainer .tabheader {
    padding: 25px 20px;
  }
  body .preview .container .tabcontainer .tabheader h3 {
    font-size: 14px;
  }
  body .preview .container .tabcontainer .tabheader__items {
    margin-top: 25px;
  }
  body .preview .container .tabcontainer .tabheader__items .tabheader__item {
    font-size: 16px;
  }
  .preview .container .tabcontainer__descr {
    top: 300px;
    right: -150px;
    width: 280px;
    height: 100px;
    padding: 25px 15px 25px 15px;
    font-size: 18px;
    line-height: 25px;
  }
  .on-our-way-row__text-block {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 720px;
    margin: 0 auto;
  }
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
.menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgb(150, 80, 15);
    z-index: 2;
  }
  .menu__list a {
    margin: 0px 0px 30px 0px;
    color: #fff;
  }
  .menu__list li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    font-size: 24px;
  }
  body .top-block__title {
    font-size: 24px;
    padding: 25px 0px 0px 0px;
  }
  body .subtitle {
    font-size: 16px;
    padding-top: 15px;
  }
  body .text {
    font-size: 14px;
  }
  body .preview .container .tabcontainer .tabheader {
    padding: 20px 15px;
  }
  body .preview .container .tabcontainer .tabheader h3 {
    font-size: 12px;
  }
  body .preview .container .tabcontainer .tabheader__items {
    margin-top: 20px;
  }
  body .preview .container .tabcontainer .tabheader__items .tabheader__item {
    font-size: 12px;
  }
  .preview .container .tabcontainer__descr {
    top: 300px;
    right: -100px;
    width: 280px;
    height: 100px;
    padding: 25px 15px 25px 15px;
    font-size: 18px;
    line-height: 25px;
  }
  body .on-our-way-row {
    flex-direction: column;
  }
  body .on-our-way-row .slider {
    margin: 20px 15px;
    align-items: center;
  }
  body .on-our-way-row .slider__counter {
    font-size: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .on-our-way-row .slider__counter-prev {
    font-size: 20px;
  }
  body .on-our-way-row .slider #current {
    font-size: 24px;
  }
  body .on-our-way-row .slider__counter-next {
    font-size: 20px;
  }
  .footer h3 {
    font-size: 14px;
  }
  .footer .follow p {
    font-size: 14px;
  }
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list li {
    padding: 10px 0px;
  }
}
@media (max-width: 650px) {
  .preview .container .tabcontainer__descr {
    top: 250px;
    right: -100px;
    width: 280px;
    height: 100px;
    padding: 25px 15px 25px 15px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .preview .container .tabcontainer__descr {
    display: none;
  }
}
@media (max-width: 480px) {
  body .top-block__title {
    font-size: 20px;
    padding: 15px 0px 0px 0px;
  }
  body .subtitle {
    font-size: 16px;
    padding-top: 10px;
  }
  body .text {
    font-size: 12px;
  }
  body .preview .container .tabcontainer .tabheader {
    padding: 15px 10px;
  }
  body .preview .container .tabcontainer .tabheader {
    padding: 35px 30px;
  }
  body .preview .container .tabcontainer .tabheader h3 {
    font-size: 10px;
  }
  body .preview .container .tabcontainer .tabheader__items {
    margin-top: 15px;
  }
  body .preview .container .tabcontainer .tabheader__items .tabheader__item {
    font-size: 10px;
  }
  body .on-our-way-row {
    flex-direction: column;
  }
  body .on-our-way-row .slider {
    margin: 20px 15px;
    align-items: center;
  }
  body .on-our-way-row .slider__counter {
    font-size: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .on-our-way-row .slider__counter-prev {
    font-size: 18px;
  }
  body .on-our-way-row .slider #current {
    font-size: 24px;
  }
  body .on-our-way-row .slider__counter-next {
    font-size: 18px;
  }
  .footer h3 {
    font-size: 12px;
  }
  .footer .follow p {
    font-size: 12px;
  }
}/*# sourceMappingURL=styles.css.map */